<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="N-Tier" value="false"></add>
    <add key="NorthwindSvrBusinessUrl" value="http://localhost:55556/NorthwindSvr.svc"></add>
    <add key="UseWcfDataService" value="false"></add>
    <add key="WcfDataServiceUrl" value="http://localhost:55555/NorthwindDataService.svc/"></add>
  </appSettings>
</configuration>